:root {
  /* interpolate-size: allow-keywords; */
}
::selection {
  background: var(--accent1);
  color: white;
  /* background: CanvasText;
  color: Canvas; */
}

/* ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0dc1e7 ;
  border-radius: 8px;
} */

* {
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-color: #0dc1e7 transparent;
}

html {
  font-size: 1rem;

  font-family: var(--font-family);
  font-optical-sizing: var(--font-sizing);
  font-weight: var(--font-normal);
  /* font-variation-settings: var(--font-variation); */

}

body {
  background: var(--canvas);
  color: var(--text-color);
  overflow-x: clip;
}

main {
  --min: 1rem;
  --max: 1.35rem;
  --margins: 4rem;
  --clamp: ((var(--max) /
            (var(--content-width) + (var(--margins) * 4))
            ) * 100) * 1vw;

  /* --clamp: 2.25vw; */
  margin-inline: auto;
  width: min(var(--content-width), 100vw - var(--margins));
  font-size: clamp(var(--min, 1rem), var(--clamp, 2.25vw), var(--max, 1.35rem));
  line-height: 1.35;

}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  font-weight: var(--font-emphasis);
  color: var(--secondary);
}

h2 {color: var(--primary)}

em {
  font-style: italic;
  font-weight: var(--font-emphasis);
  color: var(--text-color-dark);
}

strong {
  font-style: normal;
  font-weight: var(--font-strong);
  color: var(--text-color-dark);
}

:where(a, a:visited, [popovertarget]) {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: .25em;
  text-decoration-color: var(--link-decoration);
  font-weight: var(--font-strong);
}

aside {
  background-color: var(--callout-bkg);
  border: 2px solid var(--border);
  border-radius: var(--m);
  padding-inline: var(--r-xs);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55vh;
  margin-block: 6rem;
}

ul {
  padding-inline-start: 1em;
}

li {
  margin-block-end: var(--r-xs);

  &::marker {
    color: var(--secondary);
  }
}

dt {
  margin-block-end: var(--xs);
}

dd {
  margin-block-end: var(--r-xxxl);
  margin-inline-start: 0;
}

nav {
  position: fixed;
  top: 0;
  right: 0;

  height: min-content;
  z-index: 100;
  display: flex;
  justify-content: end;
}

menu {
  list-style-type: none;
  padding: 1rem 2rem 0 0;
  display: flex;
  flex-direction: column;
  width: min-content;
  /* gap: 1rem; */
  margin: 0;
  li {
    margin: 0;
  }
}

details {
  list-style-position: outside;
}

summary {
  cursor: pointer;
  color: var(--primary);
  margin-block-end: var(--r-xl);
}

/* popovers */
body:has([popover]:popover-open) {
  overflow: clip;
}

button[popovertarget] {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

::backdrop {
  background: var(--backdrop-color);
  backdrop-filter: blur(6px);
  opacity: 0;
  transition: all var(--tx-l) allow-discrete;
}

[popover] {
  max-width: min(var(--content-width), 100vw - 2rem);
  max-height: calc(100dvh - 4rem);
  overflow-y: auto;
  opacity: 0;
  transform: scale(0);
  transition: all var(--tx-m) allow-discrete;

  padding-inline: 1rem;
  border-radius: 1rem;
  border-color: rgb(from var(--card-accent) r g b / .5);
  background-color: rgb(from Canvas r g b / .75);
  box-shadow: .25rem .325rem 1rem rgba(0,0,0, .5);
}

[popover]:popover-open {
  opacity: 1;
  transform: scale(1);
}

[popover]:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
    transform: scale(0);
  }

  [popover]:popover-open::backdrop {
    opacity: 0;
  }
}



