:root {
  /* interpolate-size: allow-keywords; */
}

html {
  font-size: 1rem;

  font-family: var(--font-family);
  font-optical-sizing: var(--font-sizing);
  font-weight: var(--font-normal);
  /* font-variation-settings: var(--font-variation); */
}

body {
  background: var(--canvas);
  color: var(--text-color);
}

main {
  --min: 1rem;
  --max: 1.35rem;
  --margins: 4rem;
  --clamp: ((var(--max) /
            (var(--content-width) + (var(--margins) * 4))
            ) * 100) * 1vw;

  /* --clamp: 2.25vw; */
  margin-inline: auto;
  width: min(var(--content-width), 100vw - var(--margins));
  font-size: clamp(var(--min, 1rem), var(--clamp, 2.25vw), var(--max, 1.35rem));

}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  font-weight: var(--font-emphasis);
  color: var(--secondary);
}

h2 {color: var(--primary)}

em {
  font-style: normal;
  font-weight: var(--font-emphasis);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55vh;
}

ul {
  padding-inline-start: 1em;
}

li {
  margin-block-end: var(--r-xs);

  &::marker {
    color: var(--secondary);
  }
}

dt {
  margin-block-end: var(--xs);
}

dd {
  margin-block-end: var(--r-xxxl);
  margin-inline-start: 0;
}

nav {
  position: fixed;
  top: 0;
  right: 0;

  height: min-content;
  z-index: 100;
  display: flex;
  justify-content: end;
}

menu {
  list-style-type: none;
  padding: 1rem 2rem 0 0;
  display: flex;
  flex-direction: column;
  width: min-content;
  /* gap: 1rem; */
  margin: 0;
  li {
    margin: 0;
  }
}

details {
  list-style-position: outside;
}

summary {
  cursor: pointer;
  color: var(--primary);
  margin-block-end: var(--r-xl);
}
