:root {
  /* interpolate-size: allow-keywords; */
}
::selection {
  background: var(--accent1);
  color: white;
  /* background: CanvasText;
  color: Canvas; */
}

/* ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0dc1e7 ;
  border-radius: 8px;
} */

* {
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-color: #0dc1e7 transparent;
}

html {
  font-size: 1rem;

  font-family: var(--font-family);
  font-optical-sizing: var(--font-sizing);
  font-weight: var(--font-normal);
  /* font-variation-settings: var(--font-variation); */

}

body {
  background: var(--canvas);
  color: var(--text-color);
  overflow-x: clip;
}

main {
  --min: 1rem;
  --max: 1.35rem;
  --margins: 4rem;
  --clamp: ((var(--max) /
            (var(--content-width) + (var(--margins) * 4))
            ) * 100) * 1vw;

  /* --clamp: 2.25vw; */
  margin-inline: auto;
  width: min(var(--content-width), 100vw - var(--margins));
  font-size: clamp(var(--min, 1rem),
                   var(--clamp, 2.25vw),
                   var(--max, 1.35rem));
  line-height: 1.35;

}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  font-weight: var(--font-emphasis);
  color: var(--secondary);
}

h2 {color: var(--primary)}

em {
  font-style: italic;
  font-weight: var(--font-emphasis);
  color: var(--text-color-dark);
}

strong {
  font-style: normal;
  font-weight: var(--font-strong);
  color: var(--text-color-dark);
}

@property --loc-hover-gradient {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

:where(a, a:visited, [popovertarget]) {
  --loc-hover-gradient: 100%;
  --t: var(--tx-ss);

  text-decoration: underline;
  text-underline-offset: .275em;
  text-decoration-color: var(--link-decoration);
  font-weight: var(--font-strong);

  /* slide to right hover effect */
  background-image: linear-gradient(to left,
                  var(--link-color) var(--loc-hover-gradient),
                  var(--link-decoration) calc(var(--loc-hover-gradient) + 100%));
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;

  transition: --loc-hover-gradient var(--t) linear,
             text-decoration-color var(--t) linear;
}

:where(a:hover, [popovertarget]:hover) {
  --loc-hover-gradient: 0%;
  /* text-decoration-color: transparent; */

  /* I can't get the underline to change color
      on regular links, unless it's display: inline-flex.
      But then the link won't break across lines.
      So this is my compromise until I can
      figure out something clever. --Jp  */
}


aside {
  background-color: var(--callout-bkg);
  border: 2px solid var(--border);
  border-radius: var(--m);
  padding-inline: var(--r-xs);
}

blockquote {
  margin-inline: 0;
  font-family: var(--font-family);
  font-weight: var(--font-emphasis);
}

figcaption {
  text-align: end;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55vh;
  margin-block: 6rem;
}

ul {
  padding-inline-start: 1em;
}

li {
  margin-block-end: var(--r-xs);

  &::marker {
    color: var(--secondary);
  }
}

dt {
  margin-block-end: var(--xs);
}

dd {
  margin-block-end: var(--r-xxxl);
  margin-inline-start: 0;
}

mark {
  background: rgb(from var(--primary) r g b / .15);
  border: 1px solid var(--primary);
  color: var(--base);
  font-weight: bold;
  padding-inline: .25em;
}

nav {
  position: fixed;
  top: 0;
  right: 0;

  height: min-content;
  z-index: 100;
  display: flex;
  justify-content: end;
}

menu {
  list-style-type: none;
  padding: 1rem 2rem 0 0;
  display: flex;
  flex-direction: column;
  width: min-content;
  /* gap: 1rem; */
  margin: 0;
  li {
    margin: 0;
  }
}

details {
  list-style-position: outside;
}

summary {
  cursor: pointer;
  color: var(--primary);
  margin-block-end: var(--r-xl);
}

/* popovers */
body:has([popover]:popover-open) {
  overflow: clip;
}

button[popovertarget] {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.-close {
    --border: rgb(from var(--card-accent) r g b / .5);
    background: Canvas;
    color: var(--text-color);
    -webkit-text-fill-color: initial;

    text-decoration: none;
    font-size: 2rem;

    border: 2.5px solid var(--border);
    border-bottom-color: transparent;
    rotate: 45deg;
    border-radius: 50%;
    width: 1.5em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    translate: 1.35rem 1.65rem;

    &:hover {
      color: CanvasText;
      --border: var(--primary);
    }

    b {
      rotate: -45deg;
      font-weight: normal;
    }
  }
}

::backdrop {
  background: var(--backdrop-color);
  backdrop-filter: blur(6px);
  opacity: 0;
  transition: all var(--tx-l) allow-discrete;
}

[popover] {

  opacity: 0;
  scale: 0;
  /* transform: scaleY(0); */
  transition: all var(--tx-m) allow-discrete;

  padding: 2.5rem;

  border: 1px solid transparent;
  background: transparent;

}

.popover-wrapper {
  max-width: min(var(--content-width) - 4rem, 100vw - 4rem);
  max-height: calc(100dvh - 4rem);
  overflow-y: auto;

  font-size: clamp(1rem, 2.25vw, 1.2rem);
  padding-inline: 1rem;
  border-radius: 1rem;
  border: 2.5px solid rgb(from var(--card-accent) r g b / .5);
  /* border:2px solid red; */
  background-color: rgb(from Canvas r g b / .75);
  box-shadow: .25rem .325rem 1rem rgba(0,0,0, .5);
}

[popover]:popover-open {
  opacity: 1;
  scale: 1;
  /* transform: scaleY(1); */
  display: flex;
  flex-direction: column;
}

[popover]:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
    scale: 0;
    /* transform: scaleY(0); */
  }

  [popover]:popover-open::backdrop {
    opacity: 0;
  }
}



