/* testing */

section {
  border: 1px dotted var(--t);
}

section {
  /* --t: var(--accent1); */
}

/* hiding for now */
menu .external {display: none;}

.mode {
  /* display: flex; */
  justify-content: end;
  gap: 4px;
  padding-block-end: .5em;
  /* border-bottom: 1px solid var(--border); */

  display: none;

  [type="radio"] {
    display: none;
  }
  [type="radio"] + label {
    width: 3em;
    height: 3em;
    padding: .5em;
    font-size: 12px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2.25em;
    border: 2px dotted transparent;
    opacity: .75;
    transition: .3s;

    &:hover {
      opacity: 1;
      scale: 1.1;
      background-color: rgb(from var(--text-color) r g b / 20%);
    }
  }

  [type='radio']:checked + label {border-color: rgb(from var(--text-color) r g b / 40%)}

  /* quick fix to remove light/dark switches from firefox */
  @container style(--theme: dark) or style(--theme: light) {
    display: flex;
  }

}

@keyframes scroll-in {
  0%   {opacity: var(--opacity); scale: var(--scale)}
  50%  { opacity: 1; scale: 1}
  100% {opacity: var(--opacity); scale: var(--scale)}
}
@keyframes scroll-in-font {
  0%   {opacity: var(--opacity); scale: var(--scale)}
  50%  { opacity: 1; scale: 1}
  100% {opacity: var(--opacity); scale: var(--scale)}
}

@keyframes slide-in {
  to {transform: translateX(0); opacity: 1}
}




.experience {
  font-size: var(--r-m);

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  @media (width < 600px) {
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }

  .card {
    grid-column: 1 / span 2;

    display: grid;
    grid-template-areas:
      "company"
      "title"
      "job-details"
      "details";
  }

  .card:nth-child(even) {
    grid-column: 2 / -1;
  }

  .company {
    font-weight: var(--font-emphasis);
    font-size: var(--r-l);
    color: var(--secondary);
    grid-area: company;
  }

  .years {
    font-size: var(--r-xs);
    color: var(--text-color-light);
  }

  .title {
    color: var(--text-color-dark);
    font-weight: var(--font-strong);
    grid-area: title;
  }

  .job-details {
    /* width: min(100%, 40ch); */
    font-size: 1rem;
    grid-area: job-details;
  }

  details {
    grid-area: details;
  }

  .more {
    font-size: var(--r-s);

    dt { margin-block-end: 0}
    dd {   margin-block-end: var(--r-m)}
  }
}


@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .card {
      opacity: .3;
      transform: translateX(-20%);
      animation: slide-in linear forwards;
      animation-timeline: view();
      animation-range: 5% 40%;
    }

    .card:nth-child(even) {
      transform: translateX(20%);
    }

    /* .details { */
      /* .experience dt {
      --scale: .6;
      --opacity: .8;
      scale: var(--scale);
      opacity: var(--opacity);
      transform-origin: left;
      animation: scroll-in linear forwards;
      animation-timeline: view();
      animation-range: 30% 60%;
    } */

    /* .details {
      --scale: .1;
      --opacity: .2;
      scale: var(--scale);
      opacity: var(--opacity);
      transform-origin: left;
      animation: scroll-in-font linear forwards;
      animation-timeline: view();
      animation-range: 30% 60%;
    } */
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--r-m);

  .project {
    border: 1px solid var(--border);
  }
}

details {
  --d: 0s;

  @media (prefers-reduced-motion: no-preference) {
    --d: .3s;
  }
}

details::details-content {
  display: block;
  block-size: 0;
  overflow: clip;
  transition-property: block-size, content-visibility;
  transition-duration: var(--d);
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
  block-size: calc-size(auto, size);
}

details div.detail-wrapper {
  font-size: var(--r-s);
  display: grid;
  grid-template-rows: 0fr;
  overflow: clip;
  transition: var(--d);
}

details div.detail-wrapper ul {
  min-height: 0;
}

details[open] div.detail-wrapper {
  grid-template-rows: 1fr;
}

details[open] div.detail-wrapper ul {
}

summary {
  list-style: none;
}

summary::marker {
  content: none;
}

summary::before {
  content: '▶︎';
  color: var(--primary);
  font-size: .875em;
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  align-items: center;
  transition: var(--d);

}

details[open] summary::before {
  rotate: 90deg;
}


#achievements {
  --bkg: rgb( from var(--card-accent) r g b / .3);
  --a: 3.5deg;
  --n: 100vw;
  --nn: calc(var(--n) * -1);

  border-image: linear-gradient(var(--bkg) 0 0) fill 0 / / var(--n);
  clip-path: polygon(
              var(--nn) calc(tan(var(--a)) * var(--n)),
              var(--n) calc(tan(var(--a)) * var(--nn)),
              calc(100% + var(--n)) calc(100% - tan(var(--a)) * var(--n)),
              calc(100% - var(--n)) calc(100% + tan(var(--a)) * var(--n))
            );
  margin-block-end: 6rem;
  padding-block-start: 2rem;
}



