/* testing */

section {
  border: 1px dotted var(--t);
}

section {
  /* --t: var(--accent1); */
}

#about {
  /* color: var(--text-color-dark); */
  /* font-size: var(--r-l); */
}

.experience {
  font-size: var(--r-m);

  .company {
    font-weight: var(--font-emphasis);
    font-size: var(--r-l);
    color: var(--secondary);
  }

  .years {
    font-size: var(--r-xs);
    color: var(--text-color-light);
  }

  .title {
    color: var(--text-color-dark);
    font-weight: var(--font-strong);
  }

  .more {
    font-size: var(--r-s);

    dt { margin-block-end: 0}
    dd {   margin-block-end: var(--r-m)}
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--r-m);

  .project {
    border: 1px solid var(--border);
  }
}
