/*
  CTA, accent-1 and accent-2 colors are calculated from Primary.

- CTA is complimentary, and by default both accent colors are analogous by 12.5° on either side.
- Base color is used to calculate the text and the color ramp for surface colors.
    Default base color is browser CanvasText
- Base, CTA, and both accents can be hard coded instead of calculated,
    and all colors based on them will update.
- Colors can also be overridden for dark mode.

*/

body {
  /* utils */
  --accent-angle: 105;

  --base: #ffffff;
  --canvas: #221a29;

  --primary: #0dc1e7;
  /*  hsl colors. trying out OKLCH for now
   --secondary: hsl(from var(--primary) calc(h + 15) calc(s - 15) calc(l + 5));
  --accent1  : hsl(from var(--primary) calc(h + var(--accent-angle)) calc(s - 15) calc(l - 5));
  --accent2  : hsl(from var(--primary) calc(h - var(--accent-angle)) calc(s - 15) calc(l - 15)); */


  --secondary: oklch(from var(--primary) calc(l - .05) calc(c + .01) calc(h + 10));
  --accent1  : oklch(from var(--primary) calc(l - .2) calc(c + .1) calc(h + var(--accent-angle)) );
  --accent2  : oklch(from var(--primary) calc(l - .2) calc(c + .1) calc(h - var(--accent-angle)) );



  /* override calculated colors with static */
  /*
    --base: rebeccapurple;
    --secondary: #b720e9;
  */


  /* loght mode only color changes */
  @container style(--theme: light) {
    --base: #000000;
    --canvas: #f0fcff;
    --secondary: oklch(from var(--primary) calc(l - .15) calc(c + .01) calc(h + 10));



  }

}



