:root {
  --padding: 1rem;
  --content-width: 70ch;


  /* absolute sizing */
  --xxs : .5rem;
  --xs  : .75rem;
  --s   : .8rem;
  --m   : 1rem;
  --l   : 1.125rem;
  --xl  : 1.5rem;
  --xxl : 1.75rem;
  --xxxl: 2rem;

  /* relative sizing */
  --r-xxs  : .5em;
  --r-xs  : .75em;
  --r-s   : .875em;
  --r-m   : 1em;
  --r-l   : 1.125em;
  --r-xl  : 1.5em;
  --r-xxl : 1.75em;
  --r-xxxl: 2em;

  /* animations and transitions */
  --tx-xs : 0.1s;
  --tx-s : 0.25s;
  --tx-m : 0.3s;
  --tx-l : 0.5s;
  --tx-x : 0.65s;
  --tx-xx: 1s;

  @media (prefers-reduced-motion: reduce) {
    --tx-s : 0s;
    --tx-m : 0s;
    --tx-l : 0s;
    --tx-x : 0s;
    --tx-xx: 0s;
  }


}
