section {
  --bkg: var(--primary);
  --o: 1;
  --b: rgb(from var(--bkg) r g b / var(--o));
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;


  border-image: linear-gradient(var(--b) 0 0) fill 0 / / 0 100vw;

  @media( prefers-color-scheme: dark) {
      --o: .2;
  }
}

#experience {--bkg: var(--accent1)}
#projects {--bkg: var(--accent2)}



.contacts {
  display: inline-flex;
  gap: 1rem;
}

.icon {
  display: inline-flex;
  aspect-ratio: 1;
  block-size: 2em;
  color: currentcolor;
}
